DATABASE_URL=
BETTER_AUTH_URL=

# Clés OAuth Google
PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SERVER_URL=
REALTIME_SECRET=
PUBLIC_WS_URL=
WS_PORT=
WS_SERVER_URL=