DATABASE_URL="postgresql://postgres.kritpzfyvxpzaelvtjsa:richardbagproprios-@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"

BETTER_AUTH_SECRET="bWhccAd91aPt7siaVJvO4fphDFFKJt0y"
BETTER_AUTH_URL=http://localhost:5173

# Clés OAuth Google
PUBLIC_GOOGLE_CLIENT_ID="493466301263-tl9u35mjkmjslschh64qrqg4crs94ss8.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

CLOUDINARY_CLOUD_NAME=ia4ivzio
CLOUDINARY_API_KEY=469324611788656
CLOUDINARY_API_SECRET=WEVbf0puT_nleBJEwna7_eSJvBs
SERVER_URL=http://localhost:5173
REALTIME_SECRET=change-me
PUBLIC_WS_URL=ws://localhost:3001/ws
WS_PORT=3001
WS_SERVER_URL=ws://localhost:3001/ws